# Contentful
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=
NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_CONTENT_MANAGEMENT_ACCESS_TOKEN=
CONTENTFUL_ENVIRONMENT=master

# Site
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Google
NEXT_PUBLIC_GOOGLE_ANALYTICS=
NEXT_PUBLIC_GOOGLE_MAPS=
