html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #d10c04;
  text-decoration: none;
}

.center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;

  @media (min-width: 600px) {
    font-size: 2rem;
  }
}

button,
.button {
  outline: none;
  background-color: white;
  color: #d10c04;
  border: 1px solid #d10c04;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  @media (min-width: 600px) {
    padding: 15px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #d10c04;
      color: white;
    }
  }

  &:active {
    background-color: darken(#d10c04, 10);
    color: white;
  }
}

footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  margin-top: 3em;
  padding: 2rem 20px;
  color: #777;

  p {
    text-align: center;
    padding: 0.5rem 0;
  }

  img {
    margin: 0 10px;
  }

  a {
    color: black;
    text-decoration: underline;
  }
}
