.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  width: 20px;
  height: 20px;
  color: white;
}

.iconButton {
  display: flex;
  align-items: center;

  .buttonText {
    margin-left: 6px;
  }

  .icon {
    color: #d10c04;

    &--hidden {
      display: none;
    }
  }

  &:hover .icon,
  &:active .icon {
    color: white;
  }

  .spinner {
    color: white;
    display: none;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &--loading {
    .spinner {
      display: inline-block !important;
    }

    .icon {
      display: none;
    }
  }

  &--active {
    color: white;
    background-color: #d10c04;

    .icon {
      color: white;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info {
  max-width: 900px;
  line-height: 1.6;
  margin: 2rem auto 0;
  background-color: #ddd;
  border-radius: 5px;
  padding: 2rem;

  &--hidden {
    display: none;
  }

  @media (min-width: 500px) {
    margin: 6rem auto 0;
  }

  h2 {
    margin-top: 0;
  }
}

.infoGrid {
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.infoText {
  padding-right: 40px;
  flex: 1 1 auto;
}

.infoImage {
  width: 150px;
  height: auto;
}

.notFound {
  margin: 5em 0;
  text-align: center;
}

.buttonContainer {
  margin: 1em 0;
  text-align: center;
}

.searchContainer {
  margin: 0 0 2em 0;
  padding: 2em 0;
  border-bottom: 1px solid lightgrey;

  @media (min-width: 500px) {
    margin: 0 0 3em 0;
    padding: 3em 0;
  }
}

.searchInput {
  width: 100%;
  font-size: 1.6em;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 1rem;
}

.storeBlocks {
  display: flex;
  flex-wrap: wrap;

  &--hidden {
    display: none;
  }

  @media (min-width: 500px) {
    margin: 0 -20px;
  }
}

.storeBlock {
  margin: 0 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;

  .storeImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;

    @media (min-width: 500px) {
      width: 100%;
      height: auto;
      object-fit: initial;
      margin: 0;
    }
  }

  .storeTitle {
    margin: 0;
  }

  .storeAddress {
    font-size: 0.8em;
  }

  @media (min-width: 500px) {
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 20px 20px;
    width: 45%;
    width: calc(50% - 40px);

    .storeContent {
      padding: 20px;
    }
  }

  @media (min-width: 800px) {
    margin: 0 20px 20px;
    width: 30%;
    width: calc(33.3333% - 40px);
  }
}

.contentSpinner {
  display: none;
  justify-content: center;
  padding: 15rem 0;

  &--spinning {
    display: flex;
  }

  .spinner {
    color: #666;
    width: 50px;
    height: 50px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.logo {
  height: 2em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
