.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  background: #d10c04;
  padding: 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1,
  h3 {
    margin: 0;
  }

  h1 {
    margin: 0;
    color: white;

    span {
      opacity: 0.7;
    }
  }

  h3 {
    color: white;
    font-style: italic;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;

    @media (min-width: 1000px) {
      display: block;
    }
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: 600px) {
    padding: 0 20px;
  }
}

.icon {
  width: auto;
  height: 20px;
  color: white;
}

.iconButton {
  display: flex;
  align-items: center;

  .buttonText {
    margin-left: 6px;
  }

  .icon {
    color: #d10c04;

    &--hidden {
      display: none;
    }
  }

  @media (hover: hover) {
    &:hover .icon,
    &:hover .spinner {
      color: white;
    }
  }

  &:active .icon,
  &:active .spinner {
    color: white;
  }

  .spinner {
    color: #d10c04;
    display: none;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &--loading {
    .spinner {
      display: inline-block !important;
    }

    .icon {
      display: none;
    }
  }

  &--active {
    color: white;
    background-color: #d10c04;

    .spinner,
    .icon {
      color: white;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info {
  max-width: 900px;
  line-height: 1.6;
  margin: 2rem auto 0;
  background-color: #ddd;
  border-radius: 5px;
  padding: 2rem;

  &--hidden {
    display: none;
  }

  @media (min-width: 600px) {
    margin: 6rem auto 0;
  }

  h2 {
    margin-top: 0;
  }
}

.infoGrid {
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.infoText {
  padding-right: 40px;
  flex: 1 1 auto;
}

.infoImage {
  width: 250px;
  height: auto;
}

.notFound {
  margin: 5em 0;
  text-align: center;
}

.filterButtons {
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 0 10px 10px 0;

    .desktopText {
      display: none;
    }

    @media (max-width: 600px) {
      .icon {
        height: 12px;
        width: auto;
      }
    }

    @media (min-width: 600px) {
      margin: 0 20px 20px 0;

      .mobileText {
        display: none;
      }

      .desktopText {
        display: inline;
      }
    }
  }
}

.buttonContainer {
  margin: 1em 0;
  text-align: center;
}

.pickupWarning {
  margin: 0 0 3em;
  max-width: 600px;
  padding: 20px 35px 20px 20px;
  border: 1px solid #d10c04;
  border-radius: 5px;
  position: relative;

  .pickUpCloseButton {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #d10c04;
    cursor: pointer;
  }
}

.searchGrid {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;

  @media (min-width: 600px) {
    padding: 2em 0;
  }

  .searchContainer {
    flex-grow: 1;
  }

  .searchImageContainer {
    padding-left: 6em;
    display: none;

    @media (min-width: 1000px) {
      display: block;
    }
  }

  .searchImage {
    width: 150px;
    height: auto;
  }
}

.searchInput {
  width: 100%;
  font-size: 1.2em;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 1rem;

  @media (min-width: 600px) {
    font-size: 1.6em;
  }
}

.resultsTitle {
  margin: 0 0 2rem;
}

.storeBlocks {
  display: flex;
  flex-wrap: wrap;

  &--hidden {
    display: none;
  }

  @media (min-width: 600px) {
    margin: 0 -10px;
  }

  @media (min-width: 1000px) {
    margin: 0 -20px;
  }
}

.storeBlock {
  margin: 0 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;

  a {
    text-decoration: underline;
  }

  .storeImage {
    width: 100px;
    height: 180px;
    object-fit: cover;
    margin-right: 20px;

    @media (min-width: 600px) {
      width: 100%;
      height: auto;
      object-fit: initial;
      margin: 0;
    }
  }

  .storeTitle {
    margin: 0;
  }

  .storeAddress {
    font-size: 0.9rem;
    line-height: 1.6;

    span {
      display: block;
    }
  }

  .storeExtra {
    font-size: 0.9rem;
    line-height: 1.6;
    margin: 0;
    flex-grow: 1;

    span {
      display: block;
    }

    .icon {
      height: 12px;
      width: auto;
      color: black;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .storeContent {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px 20px;
    width: 45%;
    width: calc(50% - 20px);

    .storeContent {
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  @media (min-width: 1000px) {
    margin: 0 20px 40px;
    width: 30%;
    width: calc(33.3333% - 40px);
  }
}

.storeLabelContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  @media (min-width: 600px) {
    margin-bottom: 0;
  }

  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .storeLabel {
    display: flex;
    align-items: center;
    color: green;
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 14px;
    cursor: help;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 1000px) {
      margin-bottom: 0;
    }

    .icon {
      height: 12px;
      width: auto;
      color: green;
      margin-right: 10px;
    }
  }
}

.contentSpinner {
  display: none;
  justify-content: center;
  padding: 5rem 0;

  &--spinning {
    display: flex;
  }

  .spinner {
    color: #666;
    width: 50px;
    height: 50px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.rebootLogo {
  height: 2em;
}

.rebootLink {
  color: #0050ff;
}
